<div class="container text-center">
    <h1>Cocktails</h1>
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
        <% if cocktail.photo? %>
          <div class="card" style="background-image: url('<%= cl_image_path cocktail.photo %>')">
          <% else %>
         <div class="card" style="background-image: url('http://heroparis.fr/wp-content/uploads/2016/04/cocktail-tendance-ete-2016-hero-paris.jpg')">
          <% end  %>
          <div class="card-category">Really good cocktails</div>
          <div class="card-description">
            <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
          </div>
        </div>
       </div>
      <% end %>
    </div>
    <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-info" %>
</div>


